$cor-padrao-movvi:#ff6700;
$cor-padrao-movvi-d:#ff6700B1;
$cor-secundaria:#002EF7;
$cor-inicial-backgroud:#FFFFFF;
$cor-final-backgroud:#F1F1F1;
$cinza-claro:#F1F1F1;
$cinza-escuro:#6C6C6C;
$fonte-primaria:'Montserrat', sans-serif;
$fonte-secundaria:'Nunito', sans-serif;
$azul-claro:#002EF7B1;