@import 'styles/_variaveis.scss';

.lista {
    padding: 0;

    &__item {
        background-color: $cinza-claro;
        box-shadow: 1px 1px 4px $cinza-escuro;
        border-radius: 10px;
        margin: 2em 0;
        padding: 0;
        list-style: none;
    }

    &__noticias {
        margin: 0;
        padding: 0em; 

            div {
            display: flex;
            align-items: flex-start;
            vertical-align: baseline;
            justify-content: space-between;
            margin: 0em;
            padding: 0em;

            h3,p {

                margin: 0;
            }
        }

        p {
            text-align: left;
        }

    }
}