@import '../../styles/variaveis';

.colaborador {
    position: relative;
    margin-top: 1.5em;
    width: 260px;
    text-align: center;

    &__admin {
        position: absolute;
        top: -33px;
        right: 10px;
        display: flex;
        gap: 0.8em;
        margin-bottom: 0.1em;
        padding: 0.5em;
        justify-content: right;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        color: $cinza-claro;
        background-color: $cor-padrao-movvi-d;


    }

    &:hover {
        scale: 1.1;
        transition: 0.3s;
    }

    &__cabecalho {
        background-color: $cor-padrao-movvi-d;
        border-radius: 10px 10px 0px 0px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        bottom: -50px;
    }

    &__rodape {
        background: $cor-inicial-backgroud;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
        border-radius: 0px 0px 10px 10px;
        // padding-top: 3em;
        // padding-bottom: 1em;

        h4 {
            color: $azul-claro ;
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            padding: 3em 0 0 0;
        }

        h5 {
            margin: 0;
            font-size: 18px;
            color: #212121;
            padding: 0 16px;
        }

        p {
            padding: 0 0 2em 0;
        }
    }

}