@import '../../styles/variaveis';

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        margin:0;
        font-size: 2em;
        color: $cor-padrao-movvi;
        }
    
    img {
        width: 100px;

    }
}